.App {
  text-align: center;
}
.App h1 {
  text-align: center;
  margin: 30px;
  box-shadow: 2px 2px 10px gray;
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  background-color: gray;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  font-size: 1rem;
  letter-spacing: 2px;
}
th {
  cursor: pointer;
  padding: 10px;
  font-size: 1.2rem;
}

.equities {
  background-color: blue;
  color: white;
}

.macro {
  background-color: white;
  color: black;
}

.credit {
  background-color: green;
  color: white;
}

.negative {
  color: red;
}
